/* select using an element */
h1 {
  color: #00a441;
  font-size: 5rem;
}

/* 
  select using a class 
  (recommended selector for most cases)
*/
.heading {
  color: black;
  font-weight: bold;
}

/* select using an ID */
#warning-paragraph {
  /* combining the border width
  border style and border color
  into one shorthand */
  border: 2px solid red;
  /* border-width: 2px;
  border-style: solid;
  border-color: red; */
  /* top right bottom left */
  padding: 20%;
  padding-bottom: 100px;
}

/* combinators */

/*  all h1 tags with the class heading */
h1 .heading {
  color: purple;
}